:root {
  /* 各个元素间的间距 */
  --gap: 20px;
  /* 页面宽度在最大挡位时的宽度 */
  --center-width: 65%;
  /* 默认圆角 */
  --border-radius: 6px;
  /* 默认padding */
  --padding: 8px;
}

html {
  --body-background-color: #222;
  --body-background-image: url(https://pic1.zhimg.com/v2-8a4275beeee5d3798a647db30b96e9d8_r.jpg);

  /* -m 模块 */
  --m-background-color: #eee5;
  --m-border: 1px solid #fff5;
}

html.dark {
  --body-background-color: #444;
  --body-background-image: url(https://bit-1310383539.cos.ap-chengdu.myqcloud.com/note-imgs/1666594529103-6.jpg);

  /* -m 模块 */
  --m-background-color: #4445;
  --m-border: 1px solid #fff5;
}

/* 中间模块通用 */
.-m {
  position: relative;
  overflow: hidden;

  background-color: var(--m-background-color);
  border: var(--m-border);
  box-shadow: var(--m-shadow);
  backdrop-filter: blur(10px);

  /* &:hover { */
  /* background-color: var(--model-back-color-hover); */
  /* box-shadow: var(--model-shadow-hover); */
  /* //backdrop-filter: blur(10px); */
  /* } */
}




*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  /* background: var(--color-background); */
  background-color: var(--body-background-color);
  background-image: var(--body-background-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;

  transition:
    color 0.5s,
    background-color 0.5s,
    background-image 1s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}